<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="static/css/style_about.css">
    <link rel="stylesheet" href="static/css/style.css"> <!-- Main stylesheet for consistency -->
</head>

    <div class="about-container">
        <div class="pro_">
            <h2>Project Name: Image Retrieval Using Deep Learning</h2>
        </div>

        <h4>Technique Used - Content-Based Image Retrieval (CBIR)</h4>
        <p>Content-Based Image Retrieval (CBIR) is a technique used to search and retrieve images from large databases
            by analyzing their visual content, rather than relying on text descriptions or metadata. In CBIR, images are
            represented by their intrinsic features such as color, texture, shape, and spatial relationships. These
            features are extracted and stored as numerical descriptors, allowing for comparison between images based on
            their visual characteristics.
        </p>

        <p>When a user inputs a query image, the system analyzes it and retrieves similar images from the database by
            comparing their feature vectors. CBIR systems can be used in various applications, including medical
            imaging, digital libraries, surveillance, and e-commerce, where users may search for visually similar
            products. Advances in machine learning and deep learning have significantly improved the accuracy of CBIR,
            as neural networks can automatically learn more complex image representations, leading to better retrieval
            results and a more intuitive search experience.
        </p>
    </div>
</body>
</html>
